*{
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
    
}

.head{
    height: inherit;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card{
    width: 430px;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    font-family:'Poppins', sans-serif;
    position: relative;
    background-color: whitesmoke;
}


.containerfrase{
    display: flex;
    align-items: center;
    height: 150px;
    text-align: center;
}

.containerfrase>p>i{
    font-size: 23px;
}




.autor{
    width: 90%;
    text-align:end;
    font-family: 'Tiro Devanagari Marathi', serif;
    font-size: 0.9rem;
    font-weight: 100;
}

.containerautor{
    width: 90%;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    left: 5%;
    top:75%;
}

button{
    border-radius: 50%;
    border:none;
    cursor: pointer;
    padding: 6px;
}

button>i{
    font-size:28px;
    color: whitesmoke;
}

